<html>
    <head>
        <title>월트디즈니 공식 홈페이지</title>
        <meta charset="utf-8">
        <link rel="favicon" href="/logo/favicon.ico">

        <%-include('script.ejs') %>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/slide.css">
        <link rel="stylesheet" href="/css/containers.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>
        <%-include('header.ejs') %>
        <%-include('slide.ejs') %>
        <%-include('containers.ejs') %>
        <%-include('footer.ejs') %>
        <script>
            $(".nav-menu > li").on("mouseover", function( obj ){
                let target = obj.currentTarget;
                let target_menu = target.querySelector("ul");
                $(target_menu).removeClass("d-none");
            });

            $(".nav-menu > li").on("mouseleave", function( obj ){
                target = obj.currentTarget;
                let target_menu = target.querySelector("ul");
                $(target_menu).addClass("d-none");
            });

            function slideMenu() {
                $(".slide-menu").toggleClass("d-none");
            }

            $(window).scroll(function(){
                let divs = document.querySelectorAll(".containers > div");
                console.log(divs);
                $().css("background-position", "center center")
            });
        </script>
    </body>
</html>